body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: #f8fafc;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #22c55e;
}

.main-container {
  max-width: 600px;
  margin: auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

.surah {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  padding: 6px;
  border-bottom: 1px solid #334155;
}

label {
  flex: 1;
  text-align: right;
}

input {
  margin-left: 10px;
  accent-color: #22c55e;
}

.done {
  color: #22c55e;
  margin-right: 10px;
  font-size: 0.9em;
}

.progress-wrapper {
  margin-bottom: 15px;
}

progress {
  width: 100%;
  height: 20px;
}

.basmalah {
  margin-bottom: 10px;
  color: #94a3b8;
}

.surahProgress {
  direction: ltr;
  border-radius: 7px;
  width: 50%;
  height: 10px;
  appearance: none;
}

.surahProgress::-webkit-progress-value {
  background-color: red !important;
}

.surahProgress ::-moz-progress-bar {
  background-color: red !important;
}

.ayat-input {
  width: 50px;
  background: #1e293b;
  border: 1px solid #334155;
  color: white;
  border-radius: 4px;
  padding: 4px;
  margin: 0 5px;
  text-align: center;
}

.ayat-input::-webkit-inner-spin-button,
.ayat-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ayat-input {
  -moz-appearance: textfield;
  appearance: textfield;
}
